{
  "plugins": ["node"],
  "extends": ["eslint:recommended", "plugin:node/recommended"],
  "parserOptions": {
    "ecmaVersion": 8
  },
  "rules": {
    // todo: remove when api will be ready
    "no-empty-pattern": 0
  }
}
